html{
    background: url("https://images7.alphacoders.com/583/583269.jpg") no-repeat center center fixed;
    min-width: 750px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

*{
    padding: 0;
    margin: 0;
}

.header{
    min-width: 750px;
    width: 100%;
    height: 3.75rem;
    background-color: #363d57;
    display: flex;
    justify-content: space-between;
}

.header_button{
    color: #d3d3d3;
    padding: 13px 20px 13px;
    text-align: center;
    height: 32px;
    min-height: 32px;
    width: 200px;
    min-width: 200px;
}

.header_button:hover{
    color: #fff;
    border: solid 1px #cccccc;
    box-shadow: 0px 0px 15px #cccccc;
    padding: 13px 20px 13px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.back{
    display: flex;
}

.container{
    width: 100%;
    min-width: 750px;
    height: 100%;
    background-color: #3a3a3b;
    color: #ffffff;
    display: inline-block;
    opacity: 90%;
}

.art-container{
    display: inline-block;
    width: 750px;
    margin-left: 135px;
    margin-top: 24px;
}

.art-img{
    height: 50%;
    width: 50%;
    min-width: 750px;
    border: solid 2px #000000;
}


.art-text{
    background-color: #4b4b4d;
    display: inline-block;
    position: absolute;
    opacity: 100%;
    margin-top: -99px;
    margin-left: 2px;
    height: 10%;
    width: 39%;
    min-width: 750px;
    min-height: 93px;
    transition: 0.5s;
}

.art-title{
    padding: 0px 5px;
}

.art-data{
    padding: 10px 10px;
    color: #ababb0;
    display: inline-block;
}

.art-desc{
    padding: 0px 5px;
    display: none;
}